@page
@model Webshoppen_uppgift.Pages.SearchResultModel
@{
}


<h1>Du sökte på @Model.SearchWord:</h1>


<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Products[0].Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Products[0].Price) Kr
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Products)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price) Kr
            </td>
        </tr>
    }
    </tbody>
</table>